# Climate Data Exploratory Data Analysis

## Introduction
This notebook contains an exploratory data analysis of climate data from 1900 to 2023. The dataset includes global temperatures, CO2 concentration, sea level rise, and Arctic ice area.

Your task is to perform a comprehensive EDA following the requirements in the README.md file.

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set plot styling
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette('viridis')

## 1. Data Preparation

Load the climate data and perform necessary cleaning and aggregation.

In [5]:

# Load the dataset
df = pd.read_csv('data/Climate_Change_Indicators.csv') # Place the correct path to the file you are reading here (Make sure to load using the relative path)

# Display the first few rows of the dataset
df.head()

,Year,Global Average Temperature (°C),CO2 Concentration (ppm),Sea Level Rise (mm),Arctic Ice Area (million km²)
0,1948,13.17,397.04,116.25,5.97
1,1996,13.10,313.17,277.92,9.66
2,2015,14.67,311.95,290.32,8.40
3,1966,14.79,304.25,189.71,11.83
4,1992,13.15,354.52,14.84,11.23

In [4]:
# Check for missing values and basic information about the dataset
print("Dataset Information:")
print(df.info())
print("\nMissing Values:")
print(df.isnull().sum())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048576 entries, 0 to 1048575
Data columns (total 5 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   Year                             1048576 non-null  int64
 1   Global Average Temperature (°C)  1048576 non-null  float64
 2   CO2 Concentration (ppm)          1048576 non-null  float64
 3   Sea Level Rise (mm)              1048576 non-null  float64
 4   Arctic Ice Area (million km²)    1048576 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 40.0 MB
None

Missing Values:
Year                               0
Global Average Temperature (°C)    0
CO2 Concentration (ppm)            0
Sea Level Rise (mm)                0
Arctic Ice Area (million km²)      0
dtype: int64

In [8]:
# TODO: Aggregate data by year to create a 124-year time series
# Your code here

# Group by Year and aggregate
df = pd.read_csv('data/Climate_Change_Indicators.csv')
annual_df = df.groupby('Year').agg({
    'Global Average Temperature (°C)': 'mean',
    'CO2 Concentration (ppm)': 'mean',
    'Sea Level Rise (mm)': 'mean',
    # 'Arctic Ice Area (million km²) ': 'mean'
}).reset_index()

# Filter for years 1900-2023
annual_df = annual_df[(annual_df['Year'] >= 1900) & (annual_df['Year'] <= 2023)]

print(annual_df.head())  # Check the output

   Year  Global Average Temperature (°C)  CO2 Concentration (ppm)  \
0  1900                        14.506663               350.373405
1  1901                        14.485343               349.757140
2  1902                        14.476262               349.299686
3  1903                        14.492360               349.644375
4  1904                        14.494241               349.537032

   Sea Level Rise (mm)
0           150.408288
1           150.548828
2           152.174821
3           150.138338
4           150.667318

## 2. Univariate Analysis

Analyze each climate variable independently.

In [1]:
# TODO: Perform univariate analysis for each climate variable
# Include descriptive statistics and appropriate visualizations
# Your code here
df = pd.read_csv('data/Climate_Change_Indicators.csv')
print(df)

print(df.describe())
df.hist(figsize=(10, 8), bins=10, edgecolor='black')
plt.show()

print(df.boxplot(labels=df.columns))

plt.title("Boxplots of Climate Variables")
plt.show()

NameError: name 'pd' is not defined

## 3. Bivariate Analysis

Explore relationships between pairs of climate variables.

In [ ]:
# TODO: Perform bivariate analysis
# Include correlation analysis and appropriate visualizations
# Your code here

## 4. Multivariate Analysis

Investigate relationships among three or more variables.

In [ ]:
# TODO: Perform multivariate analysis
# Create advanced visualizations showing multiple variables
# Your code here

## 5. Conclusions and Insights

Summarize your findings and discuss their implications.

# TODO: Write your conclusions here